html,
body {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}

#logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.banner {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  height: 255px;
}

nav {
  display: flex;
  background-color: rgb(251, 248, 248);
  width: 100%;
  margin-bottom: 4px;
  justify-content: center;
  padding: 5px;
  gap: 7px;
}

nav a {
  font-weight: 500;
  justify-content: space-evenly;
  text-decoration: none;
  color: black;
}

#container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered p {
  font-weight: 600;
  font-size: 30px;
  line-height: 1px;
}

article {
  margin-left: 200px;
  margin-right: 200px;
  line-height: 20px;
  font-size: 15px;
}
